@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar{
    display: none;
}

.selected-black::selection{
    color:black;
    background: seashell;
}